@model Drawor.Financeiro.Models.TipoDespesa
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header">Cadastro de Despesas</h1>
            <ol class="breadcrumb">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li class="active">Cadastro de Despesas</li>
            </ol>
        </div>
    </div><!-- /.row -->
</div>

@using (Html.BeginForm("NovoTipoDespesa", "Financas", FormMethod.Post))
{
    @Html.ValidationSummary(true)
    <fieldset>

        <form class="form">
          
            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading"><h4>Origin</h4></div>
                        <div class="panel-body">

                            <div class="form-group">
                                <div class="editor-label col-md-4">
                                    <label for="OriginZip" class="required">Nome</label>
                                </div>
                                <div class="editor-field col-md-8">
                                    @(Html.Kendo().TextBoxFor(m =>m.Nome).Name("Nome").HtmlAttributes(new { required = "required", style = "width:200px" }))
                                </div>
                            </div>

                            @*<div class="form-group">
                                <div class="editor-label col-md-4">
                                    <label for="OriginZip" class="required">Zip Code</label>
                                </div>
                                <div class="editor-field col-md-8">
                                    @(Html.Kendo().TextBoxFor(m => m.Nome).Name("Nome").HtmlAttributes(new { required = "required", style = "width:200px" }))
                                </div>
                            </div>*@
                        </div>
                    </div>
                </div>
            </div>


                @*<div id="Create Tipo Despesa" align="right">
                @(Html.Kendo().Button().Name("submit").HtmlAttributes(new { type = "submit", @class = "k-primary" }).Content("Criar Tipo de Despesa"))
                </div>*@
         
            <div>
                @(Html.Kendo().Button()
                                           .Name("CriaTipodeDespesa")
                                           .Content("Criar Tipo de Despesa")
                                           .HtmlAttributes(new { type = "button" })
                                           .Events(ev => ev.Click("Create")))
            </div>


            @*<div class="modal-header" align="right">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">Close</button>
                <h4 class="modal-title" id="myModalLabel"></h4>
            </div>*@ 
          
            </form>
    </fieldset>
}

<script>

    function Create()
    {
        var url = '@Url.Action("NovoTipoDespesa", "Financas")';

        var dto = {
            Nome :$("#Nome").val()
        }

            $.ajax({
                type: 'POST',
                url: url,
                data: dto,
                success: function (data) {

                }
                ,

                async: true
            });


    }

</script>

@*<script>
    function close()
    {

        $('#myModal').modal('hide');
  

    }
</script>*@


