@model Drawor.Financeiro.ViewModels.DespesaViewModel
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header">Cadastro de Despesas</h1>
            <ol class="breadcrumb">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li class="active">Cadastro de Despesas</li>
            </ol>
        </div>
    </div><!-- /.row -->
</div>

@using (Html.BeginForm("NovaDespesaDespesa", "Financas", FormMethod.Post))
{
    <div class="col-md-12">
        <div class="form-group">

            <div class="form-group col-md-6">
                <div class="editor-label col-md-4">
                    <label for="OriginZip" class="required">Valor</label>
                </div>
                <div class="editor-field col-md-8">
                    @(Html.Kendo().NumericTextBoxFor(m => m.Valor).Name("Valor").HtmlAttributes(new { required = "required", style = "width:200px", format = "c" }))
                </div>
            </div>
            <div class="form-group col-md-6">
                <div class="editor-label col-md-4">
                    <label for="OriginZip" class="required">Descrição</label>
                </div>
                <div class="editor-field col-md-8">
                    @(Html.Kendo().TextBoxFor(m => m.Descricao).Name("Descricao").HtmlAttributes(new { required = "required", style = "width:200px" }))
                </div>
            </div>

            <div class="form-group col-md-6">
                <div class="editor-label col-md-4">
                    <label for="VencimentoLabel" class="required">Vencimento</label>
                </div>
                <div class="editor-field col-md-8">
                    @(Html.Kendo().DatePickerFor(m => m.Vencimento).Value(DateTime.Now).Name("Vencimento").HtmlAttributes(new { style = "width:200px" }))
                </div>
            </div>
            <div class="form-group col-md-6">
                <div class="editor-label col-md-4">
                    <label for="OriginZip" class="required">Conta</label>
                </div>
                <div class="editor-field col-md-8">
                    @(Html.Kendo().DropDownList()
                            .Name("Conta")
                            .OptionLabel("Contas")
                            .DataTextField("Text")
                            .DataValueField("Value")
                            .AutoBind(false)
                            //.Events(e => e.Change("filtersChange"))
                            .HtmlAttributes(new { style = "width: 200px;" })
                            .DataSource(ds =>
                            {
                                ds.Read("DropDownListContas", "DropDownListFinanceiro");
                            })
                    )
                </div>

            </div>
            <div class="form-group col-md-6">
                <div class="editor-label col-md-4">
                    <label for="OriginZip" class="required">Tipo de Despesa</label>
                </div>
                <div class="editor-field col-md-8">
                    @(Html.Kendo().DropDownList()
                            .Name("TipoDespesa")
                            .OptionLabel("Tipos Despesas")
                            .DataTextField("Text")
                            .DataValueField("Value")
                            .AutoBind(false)
                            //.Events(e => e.Change("filtersChange"))
                            .HtmlAttributes(new { style = "width: 200px;" })
                            .DataSource(ds =>
                            {
                                ds.Read("DropDownListTipoDespesa", "DropDownListFinanceiro");
                            })
                    )
                </div>

            </div>
        </div>
    </div>
    <div class="row">
            <div class="col-md-12">
                <div align="right">
                    @(Html.Kendo().Button().Name("submit").HtmlAttributes(new { type = "submit", @class = "k-primary" }).Content("Criar Despesa"))
                </div>
            </div>
        </div>

}
    
                      
                    
                    @*<div id='myModal' class='modal'>
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div id='myModalContent'></div>
                            </div>
                        </div>

                    </div>*@
                    
                    @*<div>
                        @(Html.Kendo().Button()
                                           .Name("submitFeed")
                                           .Content("SubmitFeed")
                                           .HtmlAttributes(new { type = "button" })
                                           .Events(ev => ev.Click("getForm")))
                    </div>*@

               
            <script type="text/javascript">
    function getForm()
    {
                @*$(this).load('@Url.Action("CadastroTipoDespesa", "Financas")');*@
        var TeamDetailPostBackURL = '/Financas/CadastroTipoDespesa';
        var options = { "backdrop": "static", keyboard: true };
                $.ajax({
                    type: "GET",
                    url: TeamDetailPostBackURL,
                    contentType: "application/json; charset=utf-8",
                    data: { },
                    datatype: "json",
                    success: function (data) {

                        $('#myModalContent').html(data);
                        $('#myModal').modal(options);
                        $('#myModal').modal('show');

                    },
                    error: function () {
                        alert("Dynamic content load failed.");
                    }
        });

                $("#closbtn").click(function () {
                    $('#myModal').modal('hide');
                });

    }
            </script>
